/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 450;
    overflow-x: hidden;
    position: relative;
    background-color: #121212;
    color: #fff;
    font-family: 'Centra', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
}


/* NAVIGATION BAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #121212;
    transition: 0.3s ease-in-out;
    padding: 20px 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0;
}


/* BANNER */
.banner {
    margin-top: 0;
    padding: 230px 0 125px 0;
    background-image: url('../assets/background2.png');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .webName {
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    border: 5px solid rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 15px;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {
    margin-left: 20px;
}

.banner img {
    width: 100%;
    height: auto;
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% { transform: translateY(-15px); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(-15px); }
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}


/* CAROUSEL */
.carousel {
    background-color: #121212;
}

.carousel .carousel-item {
    text-align: center;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}


/* CRYPTOGRAPHYDescription */
.cryptographyDef {
    margin-top: 0;
    padding: 100px 0;
    background-image: url('../assets/background1.png');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.cryptographyDef h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
}

.cryptographyDef h4 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 25px;
    display: block;
    font-weight: bold;
}

.cryptographyDef p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 96%;
}

.cryptographyDef img {
    width: 100%;
    height: auto;
    animation: animate 3s linear infinite;
    padding-right: 50px;
}


/* FOOTER */
.footer {
    padding: 15px;
    background-color: #121212;
}

.footer p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 96%;
}

.header-title{
    margin-top: 100px;
    text-align: center;
}


/* ENCRYPTION & DECRYPTION PAGES */
.card {
    width: 38rem;
    margin-top: 40px;
    background-color: #282A3A;
}

.card-body {
    padding: 0px;
}

.card-header {
    color: #000000;
    margin: 0px;
    background-color: #735F32;
    text-align: center;
    font-weight: bold;
}

.form-check {
    margin-top: 15px;
}

.text-danger {
    margin-top: 15px;
}

.container-form {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.container-form-input {
    padding: 0 20px;
    margin-top: 20px;
}

.container-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.container-result {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}

.container-result-text {
    padding: 0 20px;
    margin-top: 20px;
    height: 230px;
}

#fileUpload {
    margin-top: 15px;
}

#textUpload {
    margin-top: 15px;
    height: 100px;
    background-color: #C69749;
}


/* TABLE */
table {
    margin-top: 53px;
    table-layout: fixed;
    width: 100%;
    height: 200px; 
    text-align: center;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #C69749;
}

tr:nth-child(odd) {
    background-color: #e9ab49
}


/* CIPHER PAGES */
#cipher-page {
    background-image: url('../assets/background3.png');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ABOUT PAGE */
.about {
    margin-top: 0;
    background-image: url('../assets/background3.png');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-desc {
    margin-top: 0;
    padding: 100px;
    padding-bottom: 50px;
}

.about-desc h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin: 40px 0 60px 0;
    display: block;
    font-weight: bold;
    text-align: center;
}

.about-desc p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    margin: 0 70px 0 70px;
}

.cipher-list {
    margin-top: 0;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 0 9%;

}

.cipher-card {
    margin-top: 0;
    padding: 0;
    background-color: #282A3A;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cipher-card p {
    color: #B8B8B8;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    padding: 30px;
}

.cipher-card h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}


/* ENIGMA PAGE */
.container-rotor {
    display:flex;
    justify-content: center;
    margin:20px 0;
}

.rotor {
    background-color: #C69749;
    width:50px;
    height:auto; 
    text-align:center; 
    border-radius:5px;
    margin: 0 10px;   
}

.buttonUp, .buttonDown {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.buttonUp:hover, .buttonDown:hover {
    background-color: #C69749;
    opacity: 0.5;
    border: none;
}

.rotor-text {
    width: 50px;
    height: auto;
    text-align: center;
}

.container-lamp {
    display:flex;
    justify-content: center;
}

.lamp {
    background-color: rgba(0, 0, 0, 0);
    width:30px;
    height:30px; 
    text-align:center; 
    border: #C69749 2px solid;
    border-radius:100%;
    margin:10px;   
    justify-content: center;
}

.container-mode {
    display:flex;
    justify-content: center;
    margin:20px 0;
}